html, body {
    height: 100%;
    margin: 0;
  }
  
  .bootstrap-wrapper {
    display: flex;
    align-items: flex-start; /* Alinea el contenido al inicio verticalmente */
    justify-content: center;
    height: 100vh; /* Ocupa toda la altura de la ventana del navegador */
    background-color: #f8f9fa; /* Fondo claro para mejor contraste */
  }
  
  .container {
    margin-top: 20px; /* Ajusta el margen superior según tus necesidades */
  }
  
  .row {
    width: 100%;
  }
  
  .card {
    margin-top: 20px; /* Opcional: Ajusta el margen superior de la tarjeta */
  }
  