<mat-toolbar color="primary">
  <!-- <span>Sistema de Marcaje</span> -->
  <a *ngIf="!loginService.isUserAuthenticated()" [routerLink]="'home'" mat-button >Sistema de marcaje</a>
  <span class="example-spacer"></span>
  <div class="auth-buttons">
    <a *ngIf="!loginService.isUserAuthenticated()" [routerLink]="'login'" mat-button >Iniciar sesión</a>
    <a *ngIf="!loginService.isUserAuthenticated()" [routerLink]="'signup'" mat-button >Registrarse</a>
    <a *ngIf="loginService.isUserAuthenticated()" (click)="logout()" mat-button >Salir</a>
  </div>
</mat-toolbar>
